<ul class="content_header">
  <li>
    <p class="content_title">Featured Charts</p>
  </li>
</ul>
<hr>
<ul class="chart_tiles">
  <li ng-repeat="n in [1, 2, 3, 4]">
    <div class="chart_tile">
      <a href="#">
        <img class="chart_tile_img" src="../images/chart.png" alt="Suggestion">
      </a>
      <a href="#" class="underline_on_hover">
        <p class="tile_text">Chart Title</p>
      </a>
      <p class="tile_desc left_align">This is the description of the chart</p>
    </div>
  </li>
</ul>
<hr>
<ul class="two_tiles">
  <li class="center_align">
    <div class="two_tile">
      <a href="#">
        <img class="two_tile_img" src="../images/char_list1.png" alt='Suggestion'>
      </a>
    </div>
  </li>
  <li class="center_align">
    <div class="two_tile">
      <a href="#">
        <img class="two_tile_img" src="../images/char_list2.png" alt='Suggestion'>
      </a>
    </div>
  </li>
</ul>