<div id="location">Centereach</div>

<ul class="content_header">
	<li id="content_title">Recommended for you</li>
</ul>

<div ng-repeat="n in [1,2,3,4,5,6,7]">
<hr class="concert_hr">

<ul class="concert_tiles">
	<a href="#">
		<li><div class="concert_tile">
			<img class="concert_img" src="../images/concert1.png" alt="Suggestion">
			<span class="concert_title">Elsie Festival 2017</span>
			<span class="vertical_chevron">v</span>
			<span class="concert_date">Oct 8 - Dec 14</span>
			<span class="concert_venue">Multiple Venues</span>
		</div></li>
	</a>
</ul>
</div>
