<ul class="content_header">
  <li>
    <p class="content_title">Top Recommendations For You</p>
  </li>
</ul>
<hr>
<ul class="list_tiles">
  <li ng-repeat="n in [1, 2, 3, 4, 5, 6]">
    <div class="tile">
      <a href="#">
        <img class="tile_img" src="../images/logo.png" alt="Suggestion">
      </a>
      <a href="#" class="underline_on_hover">
        <p class="tile_text">Album/Song Title</p>
      </a>
      <a href="#" class="underline_on_hover">
        <p class="tile_desc left_align">Artist</p>
      </a>
    </div>
  </li>
</ul>