<link href="css/modal.css" rel="stylesheet"/>
<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" ng-controller="UserCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Edit Password</h3>
        <div class="center_align">
          <form novalidate class="center_align">
          	<input type="password" ng-model="old_password" placeholder="Old Password"/>
            <input type="password" ng-model="new_password" placeholder="New Password"/>
            <input type="password" ng-model="confirm_password" placeholder="Confirm Password"/>
          </form>
          <div id="spotify_buttons">
            <a href="#" data-dismiss="modal">Close</a>
            <a href="#" ng-click="editPassword(editingUser.id)">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>$('#editPasswordModal').modal();</script>