<link href="css/modal.css" rel="stylesheet"/>
<div class="modal fade" id="editPlaylistModal" tabindex="-1" role="dialog" ng-controller="CollectionCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Edit Playlist</h3>
        <div class="center_align">
          <form novalidate class="center_align">
            <br>
            <input type="text" ng-model="new_title" placeholder="New playlist title"/>
            <br/><br/>
            <input type="text" ng-model="new_description" placeholder="New description"/>
            <br/><br>
            <label ng-repeat="genre in genres.genres">
              {{genre}}<input type="radio" name="genre" ng-model="$parent.new_genre" ng-value="genre"/>
            </label>
          </form>
          <div id="spotify_buttons">
            <a href="#" data-dismiss="modal">Close</a>
            <a href="#" ng-click="editPlaylist(collection.id)">Create</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>$('#editPlaylistModal').modal();</script>