<link href="css/modal.css" rel="stylesheet"/>
<div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" ng-controller="CollectionCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Edit Album</h3>
        <div class="center_align">
          <form novalidate class="center_align">
            <br>
            <input type="text" ng-model="edit_title" placeholder="{{collection.title}}"/>
            <br/><br/>
            <label ng-repeat="genre in genres.genres">
              {{genre | toLowercase}}
              <input type="radio" name="genre" ng-model="$parent.edit_genre" ng-value="genre"/>
            </label>
          </form>
          <div id="spotify_buttons">
            <a href="#" data-dismiss="modal">Close</a>
            <a href="#" ng-click="editAlbum(collection.id)">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>$('#editAlbumModal').modal();</script>