<!--CSS-->
<link href="css/style.css" rel="stylesheet"/>
<link href="css/home.css" rel="stylesheet"/>

<a href="#"><img class="advertisement" src="../images/ad.png" alt="Sponsored Advertiesment"></a>

<ul class="navbar" ng-controller="NavCtrl">
    <li id="active"><a href="#" ng-click="selectPane('overview.html')" id="current">Overview</a></li>
    <li><a href="#" ng-click="selectPane('charts.html')">Charts</a></li>
    <li><a href="#" ng-click="selectPane('genres_moods.html')">Genres & Moods</a></li>
    <li><a href="#" ng-click="selectPane('new_releases.html')">New Releases</a></li>
    <li><a href="#" ng-click="selectPane('discover.html')">Discover</a></li>
    <li><a href="#" ng-click="selectPane('concerts.html')">Concerts</a></li>
</ul>
<ul id="content">
    <div ng-include="'templates/overview.html'"></div>
</ul>