<a href="#"><img class="advertisement" src="../images/ad.png" alt="Sponsored Advertiesment"></a>
<ul class="navbar" ng-controller="MainCtrl">
  <li id="active">
    <a href="#" ng-click="loadTemplateAndJSON('content', 'overview.html', 'api/home/overview')" id="current">
      Overview
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content', 'charts.html', 'api/home/charts')">
      Charts
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content', 'genres_moods.html', 'api/home/genres_moods')">
      Genres & Moods
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content', 'new_releases.html', 'api/home/new_releases')">
      New Releases
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content', 'discover.html', 'api/home/discover')">
      Discover
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content', 'browseConcerts.html', 'api/home/concerts')">
      Concerts
    </a>
  </li>
</ul>
<ul id="content">
</ul>
<script>
		scope = angular.element(document.getElementById('main')).scope();
		scope.loadTemplateAndJSON('content', 'overview.html', 'api/home/overview');
</script>