<ul class="content_header">
	<li>
		<p id="content_title">The Best New Releases</p>
	</li>
</ul>

<hr>

<ul class="release_tiles">
	<li ng-repeat="n in [1,2]">
		<div class="release_tile">
		<a href="#">
			<img class="release_img" src="../images/new_release.png" alt="Suggestion">
		</a>
		<a href="#">
			<ul class="release_info">
				<li>
					<p class="release_title" >Album/Song Title</p>
				</li>
				<li>
					<p class="release_text" class="left_align">This is a description of the release.</p>
				</li>
				<li>
					<p class="release_text" class="left_align">2,000,000 FOLLOWERS</p>
				</li>
			</ul>
		</a>
		</div>
	</li>
</ul>

<ul class="content_header">
	<li>
		<p id="content_title">New Albums and Singles</p>
	</li>
</ul>

<hr>

<ul class="list_tiles">
	<li ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]"><div class="tile">
		<a href="#">
			<img class="tile_img" src="../images/tile1.png" alt="Suggestion">
		</a>
		<a href="#" class="underline_on_hover">
			<p class="tile_text" >Album/Song Title</p>
		</a>
		<a href="#" class="underline_on_hover">
			<p class="tile_desc" class="left_align">Artist</p>
		</a>
	</div></li>
</ul>