<link rel="stylesheet" href="css/blocks.css">
<ul class="content_header">
  <li>
    <p class="content_title">Artists</p>
  </li>
</ul>
<hr>
<div>
  <div class="info_block" ng-repeat="artist in api_home_overview.users">
    <img class="tile_img"
         ng-controller="UserCtrl"
         ng-click="loadUser(artist.id)"
         ng-src="{{artist.imageLink || appendRandom}}"/>
    <p>{{artist.name}}</p>
  </div>
</div>
<ul class="content_header">
  <li>
    <p class="content_title">Albums</p>
  </li>
</ul>
<hr>
<div>
  <div class="info_block" ng-repeat="album in api_home_overview.albums">
    <img class="tile_img" style="border-radius: 0;"
         ng-controller="CollectionCtrl"
         ng-click="loadAlbum(album.id)"
         ng-src="{{album.imageLink || appendRandom}}"/>
    <p>{{album.title}}</p>
  </div>
</div>
<ul class="content_header">
  <li>
    <p class="content_title">Playlists</p>
  </li>
</ul>
<hr>
<div>
  <div class="info_block" ng-repeat="playlist in api_home_overview.playlists">
    <img class="tile_img"
         ng-controller="CollectionCtrl"
         ng-click="loadAlbum(playlist.id)"
         ng-src="{{playlist.imageLink || appendRandom}}"/>
    <p>{{playlist.title}}</p>
  </div>
</div>