<link href="css/playlist.css" rel="stylesheet"/>
<div class="playlist" ng-controller="LoadPlaylistCtrl">
<div class="playlist_header">
  <img class="playlist_img" src="../images/rhiannon-giddens-tomorrow-is-my-turn.jpg" alt="album_art">
  <div class="playlist_data">
    <div id="content_title">{{playlist.title}}</div>
    <div id="playlist_info">Created by: {{ playlist.owner }} / {{ playlist.song_count }} songs, {{ playlist.duration }}
    </div>
  </div>
</div>
<ul>
  <li>
    <ul class="playlist_tiles">
      <li>
        <div class="playlist_tile">
          <span class="add_button"></span>
          <a href="#">Title</a>
          <a href="#">Artist</a>
          <a href="#">Date added</a>
        </div>
      </li>
    </ul>
  </li>
  <li ng-repeat="song in playlist.songs">
    <hr class="playlist_hr">
    <ul class="playlist_tiles">
      <li>
        <a href="#">
          <div class="playlist_tile highlight_on_hover">
            <span class="add_button">+</span>
            <span ng-model="song_title">{{song.title}}</span>
            <span ng-model="song_artist">{{song.artist}}</span>
            <span ng-model="date_added">{{song.date}}</span>
          </div>
        </a>
      </li>
    </ul>
  </li>
</ul>
</div>



