<link href="css/playbar.css" rel="stylesheet"/>
<ul class="playbar" ng-app="web_spotify" ng-controller="PlaybarCtrl">
  <audio id="playAudio" src="/audio/DeathBecomesFur.mp3" type="audio/mpeg"></audio>
  <li>
    <a href="#">
      <img class="current_album_cover" src="../images/album_cover.png" alt="Album Cover">
    </a>
  </li>
  <li class="current_song_info inline-block">
    <div>
      <a href="#" class="underline_on_hover">
        <span class="current_song_title">Death becomes fur</span>
      </a>
    </div>
    <div>
      <a href="#" class="underline_on_hover">
        <p class="current_song_artist">Jan Morgenstern</p>
      </a>
    </div>
  </li>
  <li class="scrub-bar inline-block">
    <span id="playSongTimeUp"></span>
    <input type="range" id="songProgress" ng-click="scrubSong();" value="0" min="0" max="100"/>
    <span id="playSongTimeDown"></span>
  </li>
  <li class="music_controls inline-block">
    <ul class="music_buttons">
      <li><a href="#"><img class="shuffle" src="../images/shuffle.png" alt="Shuffle"></a></li>
      <li><a href="#"><img class="previous" src="../images/prev.png" alt="Previous"></a></li>
      <li><a ng-click="playSong();" href="#"><img class="play" id="playButton" src="../images/play.png" alt="Play"></a></li>
      <li><a href="#"><img class="next" src="../images/next.png" alt="Next"></a></li>
      <li><a href="#"><img class="repeat" src="../images/repeat.png" alt="Repeat"></a></li>
    </ul>
  </li>
  <li class="other_controls">
    <ul>
      <li ng-controller="PlaybarCtrl">
        <a href="#" ng-click="loadQueue()">
          <img src="../images/queue.png" alt="Queue">
        </a>
        <a href="#" ng-click="mute()">
          <img src="../images/volume.png" alt="Volume"/>
        </a>
        <input type="range" id="songVolume" ng-click="scrubVolume();" value="50" min="0" max="100"/>
      </li>
    </ul>
  </li>
</ul>
