<!DOCTYPE html>
<html lang="en">
<link href="../css/playlist.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="topbar">
        <div id="plpic">
            <img src="../images/album_cover.png">
        </div>
        <div id="plinfo">
            <div class="description" id="pltype"> Playlist </div>
            <div class="description" id="pltitle"> Discover Weekly </div>
            <div class="description" id="plcreatorinfo">
                <span id="createdby"> Created by: <span>
                <span id="name"> The Cardinals <span>
            </div>
            <div class="description" id="button ">
                <button type="button"> Play </button>
                <button type="button"> ... </button>
                <span id="followers"> Followers: 1 </button>
             </div>
        </div>
    </div>
    <div id="searchbar">
        Insert search bar here.
    </div>
    <div id="songs">
        <table style="width:100%">
            <tr>
                <th> Title </th>
                <th> Artist </th>
                <th> Album </th>
                <th> Date Added </th>
                <th> Duration </th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
            <tr>
                <th> <a href="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4">Washing Dishes </a></th>
                <th> Jack Johnson </th>
                <th> ??????? </th>
                <th> 11/1/2017 </th>
                <th> 1:14</th>
            </tr>
        </table>
    </div>
</body>
</html>
