<!-- CSS -->
<link href="css/playbar.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet"/>

<div id="bottom">
    <ul class="playbar">
        <li>
            <a href="#">
                <img class="current_album_cover" src="resources/album_cover.png" alt="Album Cover">
            </a>
        </li>

        <li class="current_song_info">
            <a href="#" class="underline_on_hover">
						<span class="current_song_title">Washing Dishes
            </a>

            <a href="#" class="underline_on_hover">
                <p class="current_song_artist">Jack Johnson
            </a>
        </li>

        <li class="music_controls">
            <ul class="music_buttons">
                <li><a href="#">
                    <img class="shuffle" src="resources/shuffle.png" alt="Shuffle">
                </a></li>

                <li><a href="#">
                    <img class="previous" src="resources/next.png" alt="Previous">
                </a></li>

                <li><a href="#">
                    <img class="play" src="resources/play.png" alt="Play">
                </a></li>

                <li><a href="#">
                    <img class="next" src="resources/next.png" alt="Next">
                </a></li>

                <li><a href="#">
                    <img class="repeat" src="resources/repeat.png" alt="Repeat">
                </a></li>
            </ul>
        </li>
    </ul>
</div>