<link href="css/searchbar.css" rel="stylesheet"/>
<link href="css/button.css" rel="stylesheet">
<div class="top">
  <ul class="top_list">
    <li>
      <ul class="nav_history">
        <li>
          <form class="search">
            <input class="search" type="text" placeholder="Search"><br>
          </form>
        </li>
      </ul>
    </li>
    <li id="top_options" ng-controller="MainCtrl">
      <img class="user_img" alt="user-image" ng-src="{{user.imageLink}}">
      <a href="#" id="username" ng-click="loadTemplateAndJSON('main', 'user_info.html', 'api/users/info/get/userInfo')">{{user.name}}</a>
      <span class="options_col">
        <span class="options_button" onclick="toggleDropdown(-1)" style="display: inline;">&#x25BC;</span>
        <span id="other_dropdown_-1" class="dropdown_content" style="right: 0;">
          <a href="#">Private Session</a>
          <a href="#" ng-show="!user.premium">Upgrade Your Account</a>
          <a href="#" ng-show="user.premium">Downgrade Your Account</a>
          <a href="#" ng-click="logout()">Logout</a>
        </span>
      </span>
      <a ng-show="!user.premium">Basic</a>
      <a ng-show="user.premium">Premium</a>
      <a ng-show="user.artist">Artist</a>
      <a ng-show="user.admin">Administrator</a>
    </li>
  </ul>
  <script>
    app = angular.element(document.getElementById('top_options')).scope();
    app.loadUserInfo();
  </script>
</div>