<link href="css/searchbar.css" rel="stylesheet"/>
<link href="css/button.css" rel="stylesheet">
<div class="top">
  <ul class="top_list">
    <li>
      <form class="search" ng-controller="CollectionCtrl">
        <input type="text" ng-model="search_term" placeholder="Search">
        <input type="submit" value="Search" ng-click="searchQuery(search_term)">
      </form>
    </li>
    <li id="top_options" ng-controller="MainCtrl">
      <img class="user_img" alt="user-image" ng-src="{{user.imageLink}}">
      <a href="#" id="username" ng-click="loadUserInfoPage(user.id)">
        {{user.name}}</a>
      <span class="options_col">
        <span class="options_button" onclick="toggleDropdown(-1)" style="display: inline;">&#x25BC;</span>
        <span id="other_dropdown_-1" class="dropdown_content" style="right: 0;" ng-controller="UserCtrl">
          <a href="#" ng-show="user.public" ng-click="toggleIsPublic()">Enable Private Session</a>
          <a href="#" ng-show="!user.public"  ng-click="toggleIsPublic()">Disable Private Session</a>
          <a href="#" ng-show="!user.premium"  ng-click="openDialog('premiumUpgrade.html')">Upgrade Your Account</a>
          <a href="#" ng-show="user.premium" ng-click="openDialog('premiumDowngrade.html')">Downgrade Your Account</a>
          <a ng-show="user.artist || user.admin" href="#"
             ng-click="loadTemplateAndJSON('main', 'manageSongs.html', 'null')">Manage songs</a>
          <a ng-show="user.admin" href="#"
             ng-click="loadTemplateAndJSON('main', 'manageReports.html', 'api/reports/all')">Manage reports</a>
          <a ng-show="user.admin" href="#"
             ng-click="openDialog('createAccount.html')">Create an account</a>
          <a href="#" ng-click="logout()">Logout</a>
        </span>
      </span>
      <a ng-show="!user.premium">Basic</a>
      <a ng-show="user.premium && !user.admin && !user.artist">Premium</a>
      <a ng-show="user.artist">Artist</a>
      <a ng-show="user.admin">Administrator</a>
      <a ng-show="user.advertiser">Advertiser</a>
    </li>
  </ul>
  <script>
    app = angular.element($('#top_options')).scope();
    app.loadUserInfo();
  </script>
</div>