<link href="css/sidebar.css" rel="stylesheet"/>
<div id="sidebar" ng-controller="MainCtrl">
  <ul class="sidebar_list">
    <li>
      <a href="#" ng-click="loadTemplateAndJSON('main', 'navigateContent.html', 'null')">Browse</a>
    </li>
  </ul>
  <ul class="sidebar_list">
    <li><strong>YOUR LIBRARY</strong></li>
    <li>
      <a id="songs" href="#" ng-click="loadTemplateAndJSON('main', 'songs.html', 'api/home/new_releases')">Songs</a>
    </li>
    <li><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
  </ul>
  <ul class="sidebar_list playlists" ng-controller="CollectionCtrl">
    <li><strong>PLAYLISTS</strong></li>
    <li id="playlists" ng-repeat="list in playlists" >
      <a href="#" ng-click="loadCollection(list.id)">{{list.title}}</a>
    </li>
  </ul>
  <ul class="sidebar_list" ng-controller="CollectionCtrl">
    <li><a href="#" ng-click="openCreatePlaylistDialog()"><u>New Playlist</u></a></li>
  </ul>
</div>
<div id="sidebar-resizer"
     resizer="left"
     resizerwidth="0.4vw"
     resizerleft="#sidebar"
     resizerright="#main"
     resizermax="12"
     resizermin="5">
</div>
<script>
  angular.element($('.playlists')).scope().compile($('.playlists'));
  angular.element($('.playlists')).scope().getPlaylists();
</script>