<!-- CSS -->
<link href="css/sidebar.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet"/>

<div id="sidebar" >
    <ul class="sidebar_list">
        <li id="active">
            <a href="#" ng-click="loadTemplateAndJSON('main', 'navigateContent.html', 'null')">Browse</a>
        </li>
    </ul>

    <ul class="sidebar_list">
        <li><u>Your Library</u></li>
        <li><a href="#">Recently Played</a></li>
        <li><a href="#">Songs</a></li>
        <li><a href="#">Albums</a></li>
        <li><a href="#">Artists</a></li>
        <li><a href="#">Local Files</a></li>
    </ul>

    <ul class="sidebar_list playlists" ng-app="sidebar_app" >
        <li><u>Playlists</u></li>
        <li id="playlists" ng-controller="LoadPlaylistCtrl" ng-repeat="playlist in getPlaylists.playlists">
            <a href="#" id={{playlist.id}} ng-click="loadPlaylist('main', 'playlist.html', playlist.id)">
                {{playlist.title}}
            </a>
        </li>
    </ul>
</div>

<div id="sidebar-resizer"
     resizer="left"
     resizer-width="0.4vw"
     resizer-left="#sidebar"
     resizer-right="#main"
     resizer-max="15"
     resizer-min="5">
</div>

<!-- Load the user's playlists whenever this page is initially loaded -->
<script>
    var scope = angular.element(document.getElementById('playlists')).scope();
    scope.loadTemplateAndJSON('playlists', 'null', 'getPlaylists');
</script>
