<link href="css/sidebar.css" rel="stylesheet"/>

<div id="sidebar">
  <ul class="sidebar_list">
    <li id="active">
      <a href="#" ng-click="loadTemplateAndJSON('main', 'navigateContent.html', 'null')">Browse</a>
    </li>
  </ul>
  <ul class="sidebar_list">
    <li><u>Your Library</u></li>
    <li><a id="songs" href="#" ng-click="loadTemplateAndJSON('main', 'songs.html', 'api/home/new_releases')">Songs</a></li>
    <li><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Local Files</a></li>
  </ul>
  <ul class="sidebar_list playlists" ng-app="sidebar_app">
    <li><u>Playlists</u></li>
    <li id="playlists" ng-repeat="list in api_collections_playlists">
      <a href="#" ng-controller="LoadCollectionCtrl" ng-click="loadCollection(list.id)">
        {{list.title}}
      </a>
    </li>
  </ul>
  <ul class="sidebar_list">
    <li><a href="#"><u>New playlist</u></a></li>
  </ul>
</div>
<div id="sidebar-resizer"
     resizer="left"
     resizer-width="0.4vw"
     resizer-left="#sidebar"
     resizer-right="#main"
     resizer-max="12"
     resizer-min="5">
</div>

<script>
    scope = angular.element(document.getElementById('playlists')).scope();
    scope.loadTemplateAndJSON('playlists', 'null', 'api/collections/playlists');
</script>
