<link href="css/collection.css" rel="stylesheet"/>
<link href="css/button.css" rel="stylesheet"/>
<script src="scripts/button.js"></script>
<ul class="songs" ng-controller="PlaybarCtrl">
  <li>
    <ul class="collection_tiles">
      <li>
        <div class="collection_tile">
          <span class="play_button_spacer"></span>
          <span class="add_button"></span>
          <a href="#">Title</a>
          <a href="#">Artist</a>
          <a href="#">Length</a>
          <a href="#">Album</a>
          <a href="#" class="options_col"></a>
        </div>
      </li>
    </ul>
  </li>
  <li ng-repeat="song in songs">
    <ul class="collection_tiles">
      <li>
        <div class="collection_tile highlight_on_hover">
          <a href="#" ng-click="loadSong(song.id)" class="play_button_spacer"><img class="play_button" src="../images/play.png" alt="Play"></a>
          <a href="#" ng-controller="CollectionCtrl" ng-attr-id="song" ng-click="deleteSong(song.id)" class="add_button underline_on_hover" ng-model="dynamic_button">-</a>
          <a href="#" ng-attr-id="1" ng-dblclick="loadSong(song.id)" class="underline_on_hover">{{song.trackName}}</a>
          <a href="#" ng-controller="UserCtrl"
             ng-attr-id="{{song.artist.id}}"
             ng-click="loadUser(song.artist.id)"
             class="underline_on_hover">{{song.artist.stageName}}</a>
          <span>{{secondsToMinSec(song.trackLength)}}</span>
          <a href="#" ng-attr-id="1" class="underline_on_hover">{{song.albumName}}</a>
          <span href="#" ng-attr-id="1">date</span>
          <div class="dropdown options_col">
            <div class="options_button" ng-click="toggleDropdown(song.id)">...</div>
            <div ng-attr-id="other_dropdown_{{song.id}}" class="dropdown_content">
              <a href="#" ng-click="addSongToQueue(song.id)">Add to Queue</a>
              <a href="#" ng-repeat="playlist in playlists"
                 ng-show="playlist.id != collection.id"
                 ng-click="addSongToPlaylist(song.id, playlist.id)">
                Add to {{playlist.title}}
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>