<link href="css/collection.css" rel="stylesheet"/>
<link href="css/button.css" rel="stylesheet"/>
<ul class="songs" ng-controller="PlaybarCtrl">
	<li>
		<ul class="collection_tiles">
			<li>
				<div class="collection_tile">
					<a href="#" class="options_col"></a>
					<a href="#">Title</a>
					<a href="#">Artist</a>
					<a href="#">Length</a>
					<a href="#">Album</a>
					<a href="#">Date added</a>
				</div>
			</li>
		</ul>
	</li>
	<li ng-repeat="n in [1,2,3,4,5,6,7]">
		<ul class="collection_tiles">
			<li>
        <hr class="collection_hr">
        <div class="collection_tile highlight_on_hover">
          <div class="dropdown options_col">
            <div class="options_button" onclick="toggleDropdown()">...</div>
            <div id="other_dropdown" class="dropdown_content">
              <a href="#">Save</a>
              <a href="#">Add to Queue</a>
            </div>
          </div>
          <a href="#" ng-attr-id="n" ng-dblclick="loadSong(n)">collection</a>
          <a href="#" ng-controller="UserCtrl" ng-click="loadUser(1)">artist</a>
          <span ng-model="collection_duration">0:00</span>
          <span ng-model="collection_album">album</span>
          <span ng-model="date_added">date</span>
        </div>
			</li>
		</ul>
	</li>
</ul>
<script src="scripts/button.js"></script>
