<ul ng-show="visitingUser.artist" class="navbar">
  <li id="active">
    <a href="#" ng-click="loadTemplateAndJSON('content',,)">
      Overview
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content',,)">
      About
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content',,)">
      Related Artists
    </a>
  </li>
  <li>
    <a href="#" ng-click="loadTemplateAndJSON('content',,)">
      Concerts
    </a>
  </li>
</ul>
<div id="content">
  <ng-include src="'templates/user_overview.html'"></ng-include>
</div>