<link rel="stylesheet" href="../css/user_info.css" type="text/css">
<div>
  <div class="user_header">
    <div class="hiddenFileInputContainter">
      <img class="user_img_full" src="../images/rhiannon-giddens-tomorrow-is-my-turn.jpg">
      <input type="file" name="fileUp" class="hidden" accept="image/*">
    </div>
    <div class="user_info">
      <div>
        <span class="username">{{api_users_info_get_userInfo.name}}</span>
        <a href="#">edit</a>
      </div>
      <div>
        <span class="email">{{api_users_info_get_userInfo.email}}</span>
        <a href="#">edit</a>
      </div>
    </div>
    <div id="spotify_buttons">
      <a href="#" class="delete_button">Delete Account</a>
    </div>
  </div>
</div>