<link rel="stylesheet" href="css/collection.css">
<div class="user" ng-controller="UserCtrl">
  <div class="collection_header">
    <img class="collection_img" alt="album_art" ng-src="{{visitingUser.imageLink}}">
    <div class="collection_data">
      <div class="content_title">{{visitingUser.name}}</div>
      <div>Email: {{visitingUser.email}}</div>
      <div>Birthday: {{visitingUser.birthday}}</div>
      <div>Follower count: {{visitingUser.followerCount}}</div>
      <div>Listeners: / Monthly Listeners: </div>
      <div id="spotify_buttons">
        <a ng-show="!visitingUser.followed && visitingUser.id != user.id"
           ng-click="followUser(visitingUser.id)"
           class="Follow" href="#">Follow</a>
        <a ng-show="visitingUser.followed"
           ng-click="unfollowUser(visitingUser.id) && visitingUser.id != user.id"
           class="Follow" href="#">Unfollow</a>
      </div>
    </div>
  </div>
  <ul class="content_header"><li><p class="content_title">Albums</p></li></ul>
  <hr>
  <ul class="list_tiles">
    <li ng-repeat="item in api_home_overview.focus">
      <div class="tile">
        <a href="#">
          <img class="tile_img" ng-src={{item.img}} alt="Suggestion"/>
        </a>
        <p class="tile_text">{{item.head}}</p>
        <p class="tile_desc left_align">{{item.desc}}</p>
      </div>
    </li>
  </ul>
  <ul class="content_header"><li><p class="content_title">Playlists</p></li></ul>
  <hr>
  <ul class="list_tiles">
    <li ng-repeat="item in api_home_overview.focus">
      <div class="tile">
        <a href="#">
          <img class="tile_img" ng-src={{item.img}} alt="Suggestion"/>
        </a>
        <p class="tile_text">{{item.head}}</p>
        <p class="tile_desc left_align">{{item.desc}}</p>
      </div>
    </li>
  </ul>
  <ul class="content_header"><li><p class="content_title">Followers</p></li></ul>
  <hr>
  <ul class="list_tiles">
    <li ng-repeat="item in api_home_overview.focus">
      <div class="tile">
        <a href="#">
          <img class="tile_img" ng-src={{item.img}} style="border-radius: 50%" alt="Suggestion"/>
        </a>
        <p class="tile_text" style="text-align: center">{{item.head}}</p>
        <p class="tile_desc">{{item.desc}}</p>
      </div>
    </li>
  </ul>
</div>