<link rel="stylesheet" href="../css/user_info.css" type="text/css">
<link href="css/style.css" rel="stylesheet"/>
<link href="css/button.css" rel="stylesheet"/>
<div ng-controller= "UserCtrl">
  <div class="hiddenFileInputContainer">
    <img id="info_user_img" alt="user_img" ng-src="{{editingUser.imageLink}}">
    <input ng-controller="UploadCtrl" class="hidden"
           type="file" id="editImage" accept="image/*">
  </div>
  <div class="info_table_container">
    <table class="info_table">
      <tr>
        <td>Name:</td>
        <td class="table_middle">{{editingUser.name}}</td>
        <td><a href="#" ng-click="openDialog('editUsername.html')">Edit</a></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td class="table_middle">{{editingUser.email}}</td>
        <td><a href="#" ng-click = "openDialog('editEmail.html')">Edit</a></td>
      </tr>
      <tr ng-show="editingUser.artist">
        <td>About:</td>
        <td class="table_middle">{{editingUser.artist.about}}</td>
        <td><a href="#" ng-click="openDialog('editAbout.html')">Edit</a></td>
      </tr>
    </table>
  </div>
  <div class="center_align" id="spotify_buttons">
    <a href="#" ng-click = "openDialog('editPassword.html')">Change Password</a>
    <a href="#"
       ng-click="deleteAccount(editingUser.id)"
       id="info_delete_button"><strong>Delete Account</strong></a>
  </div>
</div>