.followed_artists, .followed_albums {
  margin-top: 2vw;
  display: block;
}

.info_block {
  width: 20vw;
  height: 20vw;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}
.info_block img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.info_block img:hover {
  -webkit-box-shadow: 1px 1px 5px white;
  box-shadow: 1px 1px 5px white;
  mix-blend-mode: soft-light;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}
.info_block p {
  margin-top: 5px;
  margin-bottom: 0px;
}
