.collection_header {
  display: inline-block;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}
.collection_title {
  font-weight: 500;
  color: #ffffff;
  width: 30vw;
  padding-left: 2vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.collection_img {
  height: 30vh;
  width: auto;
  display: inline-block;
  position: relative;
  border: 1px solid white;
  border-radius: 50%;
}
.collection_data {
  margin-left: 10vw;
  display: inline-block;
}
.collection {
  padding-left: 2vw;
}
.collection_tiles , .collection_column_headers {
  margin-bottom: 0;
  width: inherit;
}
.collection_tiles {
  padding-left: 0;
}
.collection_tiles li {
  width: inherit;
}
.collection_tile {
  height: 3vw;
  display: table;
  width: 100%;
  table-layout: fixed;    /* For cells of equal size */
}
.collection_tile span, .collection_tile a {
  display: table-cell;
  max-width: 10vw;
  vertical-align: middle;
  text-align: left;
}
.collection_tile a:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
}
.highlight_on_hover:hover {
  background-color: #333333;
}
.collection_hr {
  width: 100%;
  border-color: #282828;
  border-width: 0.3vh;
  margin-bottom: 0vh;
}
.queue, .songs, .user, .collection {
  position: relative;
  width: auto;
}
.play_button_spacer {
  display: inline;
  width: 5%;
  text-align: center !important;
}
.play_button {
  display: none;
}
.add_button {
  font-size: 180%;
  width: 2%;
}
.add_button:hover {
  text-decoration: none;
}
.collection_tile:hover .play_button {
  display: inline;
}