.collection_header {
  display: inline-block;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}
.collection_title {
	font-weight: 500;
	color: #ffffff;
	width: 30vw;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
}
.collection_img {
  height: 30vh;
  width: auto;
  display: inline-block;
  position: relative;
  border: 1px solid white;
}
.collection_data {
  margin-left: 10vw;
  display: inline-block;
}
.collection {
	padding-left: 3vw;
}
.collection_tiles , .collection_column_headers {
  margin-bottom: 0;
}
.collection_tiles {
  padding-left: 0;
}
.collection_tiles li {
  width: 80vw;
}
.collection_tile {
  height: 3vw;
  display: table;
  width: 100%;
  table-layout: fixed;    /* For cells of equal size */
}
.collection_tile span, .collection_tile a {
  display: table-cell;
  max-width: 10vw;
  vertical-align: middle;
  text-align: center;
}

.collection_tile a:hover {
  text-decoration: underline;
}

.add_button {
  font-size: 180%;
  width: 10%;
  text-align: right;
}
.highlight_on_hover:hover {
	background-color: #333333;
}
.collection_hr {
  width: 80vw;
  border-color: #282828;
	border-width: 0.3vh;
	margin-bottom: 0vh;
}

#collection_buttons {
  margin-top: 30px;
}

#collection_buttons a {
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#collection_buttons a:hover {
  color: gray;
  text-decoration: none;
}