.concert_title {
	font-weight: 500;
	color: #ffffff;
	display: inline-block;
	width: 30vw;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
}
.concert_img {
	position: relative;
	width: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.concert {
	padding-left: 3vw;
}
.concert_tiles {
	padding-left: 0vw;
}
.concert_tiles li {
	width: 80vw;
	height: 4vw;
}
.concert_tile {
	padding-left: 4vw;
	height: 4vw;
}
.concert_tile:hover {
	background-color: #333333;
}
.concert_date {
	display: inline-block;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
	width: 15vw;
}
.concert_hr {
	width: 80vw;
	border-color: #282828;
	border-width: 0.3vh;
	margin-bottom: 0vh;
}