#right {
    position: absolute;
    left: auto; bottom: 8vh; top: 5vh; right: 0vw;
    width: 8vw;
	padding-left: 1vw;
	color: #979797;
	background-color: #121212;
    height: 92vh;
	overflow: auto;
}

#friendlist-resizer {
	background-color: #181818;
    position: absolute;
    top: 0vh;
    bottom: 8vh;
	right: 8vw;
    width: 0.4vw;
    cursor: e-resize;
}
