#main {
    position: absolute;
    left: 8vw; bottom: 4vh; top: 5vh; right: 8vw;
	color: #979797;
	background-color: #181818;
	overflow: auto;
}

.advertisement {
	display: block;
    margin: auto;
	padding-top: 5vh;
	width: 45vw;
	height: 30vh;
}
.navbar {
	width: auto;
	padding-left: 1vw;
	padding-top: 3vh;
	padding-right: 1vw;
	margin-bottom: 0vh;
}
.navbar li {
	vertical-align: center;
	margin-right: 2vw;
}

#content {
	position: relative;
	padding-left: 0vw;
	padding-bottom: 3vw;
	background-color: #181818;
	left: 2vw;
	height: auto;
}
.content_header {
	position: relative;
	padding-left: 0.5vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	height: 6vh;
}
.content_header li {
	display: inline-block;
}
#content_title {
	font-size: 110%;
	font-weight: 600;
	color: #ffffff;
}

.three_tiles, .two_tiles, .list_tiles, .chart_tiles {
	padding-left: 0vw;
}

.tile {
	display: inline-block;
	vertical-align: top;
	width: 12.1vw;
	padding-bottom: 1vw;
}
.tile_img {
	width: 12.1vw;
	height: 12.1vw;
	position: relative;
}

.tile_text {
	text-align: left;
	margin-top: 0.5vh;
	margin-bottom: 0vh;
	font-size: 75%;
	color: #ffffff;
}
.tile_desc {
	margin-top: 0.5vh;
	font-size: 65%;
}

.three_tiles {
	padding-left: 0.1vw;
	margin-bottom: 3vh;
}
.three_tiles li {
	display: inline;
	position: relative;
	padding-right: 0.5vw;
	padding-left: 0.4vw;
}
.three_tile {
	display: inline-block;
	vertical-align: top;
	width: 25.5vw;
}
.three_tile_img {
	position: relative;
	width: 25.5vw;
}

.list_tiles {
	position: relative;
}
.list_tiles li {
	display: inline;
	position: relative;
	height: 19vw;
	padding-right: 0.5vw;
	padding-left: 0.5vw;
}

.concert_tiles {
	padding-left: 0vw;
}
.concert_tiles li {
	width: 80vw;
	height: 4vw;
}
.concert_tile {
	padding-left: 4vw;
	height: 4vw;
}
#location {
	position: relative;
	padding-left: 0.5vw;
	width: 80vw;
	height: 6vh;
	font-size: 200%;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 2vh;
}
.concert_img {
	position: relative;
	width: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.concert_title {
	font-weight: 500;
	color: #ffffff;
	display: inline-block;
	width: 30vw;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
}
.concert_date {
	display: inline-block;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
	width: 15vw;
}
.concert_tile:hover {
	background-color: #333333;
}

.chart_tiles {
	margin-bottom: 8vh;
}
.chart_tiles li {
	display: inline;
	position: relative;
	padding-right: 0.4vw;
	padding-left: 0.4vw;
}
.chart_tile {
	display: inline-block;
	vertical-align: top;
	width: 19vw;

}
.chart_tile_img {
	position: relative;
	width: 19vw;
}

.two_tiles li {
	display: inline;
	position: relative;
	padding-left: 0.4vw;
	padding-right: 0.4vw;
}
.two_tile {
	display: inline-block;
	width: 39vw;
}
.two_tile_img {
	width: 39vw;
}

.release_tiles {
	position: relative;
	padding-left: 0vw;
}
.release_tiles li {
	display: inline;
	position: relative;
	height: 5vw;
}
.release_tile {
	display: inline;
	height: 5vw;
	width: 38vw;
	padding-right: 0.5vw;
	padding-left: 0.5vw;

}
.release_tile li {
	display: inline;
}
.release_img {
	position: relative;
	vertical-align: top;
	width: 5vw;
}
.release_info {
	position: relative;
	display: inline-block;
	width: 33vw;
	height: 5vw;
	padding-left: 0vw;
}
.release_info li {
	padding-left: 0vw;
	padding-right: 0vw;
}
.release_info:hover {
	background-color: #333333;
}
.release_title {
	text-align: left;
	padding-left: 0.5vw;
	margin-top: 0.5vh;
	margin-bottom: 0vh;
	font-size: 75%;
	color: #ffffff;
}
.release_text {
	text-align: left;
	padding-left: 0.5vw;
	margin-top: 0.5vh;
	font-size: 65%;
}

.nav_tiles {
	height: 5vh;
	float: right;
	padding-right: 0.5vw;
}
.next_tiles {
	height: 5vh;
}