#main {
  position: absolute;
  left: 8vw; top: 5vh; right: 8vw;
  height: auto;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-bottom: 7vw;
  color: #979797;
  background-color: #181818;
}
.advertisement {
  display: block;
  margin: auto;
  padding-top: 5vh;
  width: 45vw;
  height: 30vh;
}
.navbar {
  width: auto;
  padding-left: 1vw;
  padding-top: 3vh;
  padding-right: 1vw;
  margin-bottom: 0vh;
}
.navbar li {
  vertical-align: center;
  margin-right: 2vw;
}
#content {
  position: relative;
  padding-bottom: 3vw;
  padding-left: 1vw;
  background-color: #181818;
  height: auto;
}
.content_header {
  position: relative;
  padding-left: 0.5vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  height: 6vh;
}
.content_header li {
  display: inline-block;
}
.content_title {
  font-size: 110%;
  font-weight: 600;
  color: #ffffff;
}
.three_tiles, .two_tiles, .list_tiles, .chart_tiles {
  padding-left: 0vw;
}
.tile {
  display: inline-block;
  vertical-align: top;
  width: 12.1vw;
  padding-bottom: 1vw;
}
.tile_img {
  width: 12.1vw;
  height: 12.1vw;
  position: relative;
}
.tile_text {
  text-align: left;
  margin-top: 0.5vh;
  margin-bottom: 0vh;
  font-size: 75%;
  color: #ffffff;
}
.tile_desc {
  margin-top: 0.5vh;
  font-size: 65%;
}
.three_tiles {
  padding-left: 0.1vw;
  margin-bottom: 3vh;
}
.three_tiles li {
  display: inline;
  position: relative;
  padding-right: 0.5vw;
  padding-left: 0.4vw;
}
.three_tile {
  display: inline-block;
  vertical-align: top;
  width: 25.5vw;
}
.three_tile_img {
  position: relative;
  width: 25.5vw;
}
.list_tiles {
  position: relative;
  margin: 10px;
}
.list_tiles li {
  display: inline;
  position: relative;
  height: 19vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
#location {
  position: relative;
  padding-left: 0.5vw;
  width: 80vw;
  height: 6vh;
  font-size: 200%;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2vh;
}
.chart_tiles {
  margin-bottom: 8vh;
}
.chart_tiles li {
  display: inline;
  position: relative;
  padding-right: 0.4vw;
  padding-left: 0.4vw;
}
.chart_tile {
  display: inline-block;
  vertical-align: top;
  width: 19vw;
}
.chart_tile_img {
  position: relative;
  width: 19vw;
}
.two_tiles li {
  display: inline;
  position: relative;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
}
.two_tile {
  display: inline-block;
  width: 39vw;
}
.two_tile_img {
  width: 39vw;
}
.nav_tiles {
  height: 5vh;
  float: right;
  padding-right: 0.5vw;
}
.next_tiles {
  height: 5vh;
}
.tile_img:hover, .two_tile_img:hover, .three_tile_img:hover, .concert_img:hover, .release_img:hover {
  -webkit-box-shadow: 1px 1px 5px white;
  box-shadow: 1px 1px 5px white;
  mix-blend-mode: soft-light;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}