#main {
  position: absolute;
  left: 8vw; top: 5vh; right: 8vw;
  height: auto;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-bottom: 7vw;
  color: #979797;
  background-color: #181818;
}
#advertisement {
  position: fixed;
  left: auto; bottom: 8vh; top: 5vh; right: 0vw;
  width: 10vw;
 	padding-left: 1vw;
  height: 88vh;
 	overflow: auto;
}
.navbar {
  width: auto;
  padding-left: 1vw;
  padding-top: 3vh;
  padding-right: 1vw;
  margin-bottom: 0vh;
}
.navbar li {
  vertical-align: center;
  margin-right: 2vw;
}
#content {
  position: relative;
  padding-bottom: 3vw;
  padding-left: 1vw;
  background-color: #181818;
  height: auto;
}
.content_header {
  position: relative;
  padding-left: 0.5vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  height: 6vh;
}
.content_header li {
  display: inline-block;
}
.content_title {
  font-size: 110%;
  font-weight: 600;
  color: #ffffff;
}
.tile {
  display: inline-block;
  vertical-align: top;
  width: 12.1vw;
  padding-bottom: 1vw;
}
.tile_img {
  width: 12.1vw;
  height: 12.1vw;
  position: relative;
}
.tile_text {
  text-align: left;
  margin-top: 0.5vh;
  margin-bottom: 0vh;
  font-size: 75%;
  color: #ffffff;
}
.tile_desc {
  margin-top: 0.5vh;
  font-size: 65%;
}
.list_tiles {
  position: relative;
  margin: 10px;
}
.list_tiles li {
  display: inline;
  position: relative;
  height: 19vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
.tile_img:hover {
  -webkit-box-shadow: 1px 1px 5px white;
  box-shadow: 1px 1px 5px white;
  mix-blend-mode: soft-light;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}