.modal-content {
  background-color: #181818;
  border: 1px solid #979797;
}

.modal-body form input {
  width: 80%;
}

.modal-body form label {
  margin-right: 30px;
}

.modal-body table, .modal-body th, .modal-body tr, .modal-body td {
  border: 1px solid white;
}

.modal-body td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-dialog {
  top: 25%;
}

