.current_song_info {
	width: 9vw;
	height: 8vw;
	padding-top: 2vh;
	padding-left: 1vw;
}

.inline-block {
    display: inline-block !important;
}

.scrub-bar {
    padding-top: 2vh;
}

#bottom {
    left: 0vw; bottom: 0vh; top: 92vh; right: 0vw;
    height: 8vh;
	background-color: #282828;
	position: fixed;
}
.playbar {
	height: 8vh;
	padding-left: 0vw;
	display: inline-block;
}

.playbar li , .playbar p , .playbar a{
    display: inline;
    vertical-align: top;
}

.music_controls {
	width: auto;
	padding-top: 2vh;
	height: 8vh;
}
.music_buttons {
    display: inline;
}
.music_buttons li {
	padding-left: 2vw;
}
.current_album_cover {
	padding-left: 0.5vw;
	padding-top: 0.5vw;
	height: 7vh;
	width: auto;
}

.current_song_title {
	font-size: 85%;
	color: #dedede;
	padding-bottom: 0vh;
}
.current_song_artist {
	font-size: 80%;
	color: #7a7a7a;
	padding-top: 0vh;
}