.playlist_header {
    display: inline-block;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 3vw;
}

.playlist_title {
	font-weight: 500;
	color: #ffffff;
	width: 30vw;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
}

.playlist_img {
    height: 30vh;
    width: auto;
    display: inline-block;
    position: relative;
}

.playlist_data {
    margin-left: 10vw;
    display: inline-block;
}

.playlist_tiles , .playlist_column_headers {
    margin-bottom: 0;
}

.playlist_tiles {
    padding-left: 0;
}

.playlist_tiles li {
    width: 80vw;
    height: 3vw;
}
.playlist_tile {
    height: 3vw;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

.playlist_tile span, .playlist_tile a {
    font-size: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.add_button {
    width: 10%;
    text-align: right;
}

.highlight_on_hover:hover {
	background-color: #333333;
}

.playlist_hr {
    width: 96%;
	border-color: #282828;
	border-width: 0.3vh;
	margin-bottom: 0vh;
}