.playlist_header {
    display: inline-block;
}
#content_title {
    vertical-align: top;
    margin-left: 2%;
}
.playlist_img {
    height: 30vh;
    width: auto;
}

.playlist_tiles .playlist_column_headers {
    margin-bottom: 0;
    padding-left: 0;
}

.playlist_tiles li {
    width: 80vw;
    height: 4vw;
}
.playlist_tile {
    height: 4vw;
}
div.playlist_tile {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.playlist_tile span {
    font-size: 200%;
    display: table-cell;
    vertical-align: middle;
}
.song_info {
    text-align: center;
}
.add_button {
    width: 10%;
    text-align: right;
}
.spacer {
    width: 10%;
}

.playlist_title {
	font-weight: 500;
	color: #ffffff;
	display: inline-block;
	width: 30vw;
	padding-left: 2vh;
	padding-top: 2vh;
	padding-bottom: 1vh;
}
.playlist_date {
	display: inline-block;
	padding-left: 2vh;
	padding-top: 2vh;
	width: 15vw;
}
.highlight_on_hover:hover {
	background-color: #333333;
}

.playlist_hr {
        width: 95%;
	border-color: #282828;
	border-width: 0.3vh;
	margin-bottom: 0vh;
}