.current_song_info {
	width: 9vw;
	height: 6vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
}

.current_song_info div {
    width: 9vw;
    white-space: nowrap;
    height: 3vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current_album_cover {
	padding-left: 0.5vw;
	padding-top: 0.5vw;
	height: 7vh;
	width: auto;
}

.current_song_title {
	font-size: 85%;
	color: #dedede;
}
.current_song_artist {
	font-size: 80%;
	color: #7a7a7a;
}
.inline-block {
    display: inline-block !important;
}

#playSongTimeDown {
    margin-left: 1vw;
}

#playSongTimeUp {
    margin-right: 1vw;
}

.scrub-bar {
    margin-left: 2vw;
    padding-top: 2vh;
    width: 25vw;
}

input[type="range"] {
    display: inline;
    overflow: hidden;
    -webkit-appearance: none;
    width: 15vw;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type="range"]::-ms-track {
    width: 100%;
    -webkit-appearance: none;
    color: transparent;
    background: transparent;
    border-radius: 4px;
}


input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    background: transparent;
    box-shadow: 1px 1px 1px #000000;
    background: #121212;
    border-radius: 1.3px;
}

input[type='range']::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
}

.playbar {
    left: 0vw; bottom: 0vh; top: 92vh; right: 0vw;
    height: 8vh;
    background-color: #282828;
    width: auto;
    position: fixed;
	padding-left: 0vw;
	display: inline-block;
}

.playbar li , .playbar p , .playbar a{
    display: inline;
    vertical-align: top;
}

.music_controls {
	width: auto;
	padding-top: 2vh;
	height: 8vh;
}
.music_buttons {
    display: inline;
}
.music_buttons li {
	padding-left: 2vw;
}

.other_controls{
    position: absolute;
    display: inline-block;
    top: 2vh;
    right: 5vw;
}