.top, .top_list {
	position: fixed;
	display: inline-block;
	left: 0vw; right: 0vw;
	color: #979797;
	background-color: #121212;
    height: 5vh;
   	padding-left: 0vw;
	margin-bottom: 0vh;
	z-index: 999999;
}

.top_list li {
	line-height: 3vh;
	text-align: center;
	display: inline-block;
	vertical-align: center;
	margin-bottom: 0vh;
}

.search {
	display: inline;
    height: 4vh;
	padding-left: 2vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

.logout {
    margin-left: 61vw;
}

.account {
    margin-left: 0vw;
    padding-right: 0vw;
}

.nav_history {
	display: inline-block;
    height: 5vh;
	padding-left: 0vw;
}
.nav_history li {
    height: 5vh;
    margin-right: 0vw;
    margin-left: 0vw;
}

.prev_history {
	height: 5vh;
	line-height: 200px;
}
.next_history {
	height: 5vh;
}

.account {
    height: 5vh;
	padding-right: 2vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}
.account li {
    height: 5vh;
	padding-left: 1vw;
}