#sidebar {
  position: absolute;
  left: 0vw; bottom: 8vh; top: 5vh; right: auto;
  width: 8vw;
  height: 92vh;
  padding-top: 2vw;
	padding-left: 1vw;
	color: #979797;
	overflow: auto;
}

.sidebar_list {
	padding-bottom: 1vh;
	padding-left: 0vw;
}

.sidebar_list li{
	font-size: 80%;
	padding-bottom: 2vh;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.playlists li:hover {
	/* TODO make playlist author visible */
}

#sidebar-resizer {
	background-color: #181818;
  position: absolute;
  top: 0vh;
  bottom: 8vh;
  left: 8vw;
  width: 0.4vw;
  cursor: e-resize;
}