.canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #282828;
}
input {
	border-width: 1px;
	border-radius: 3px;
	color: #ffffff;
	background-color: #282828;
	width: 100%;
}
.logo {
	width: 75px;
  height: 75px;
  display: block;
  margin: auto;
  margin-top: 2%;
  border-radius: 50%;
}
hr {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.text_input_field {
  display:inline;
  width: 20vw;
  margin-right: 2vw;
}