body {
  background-color: #121212;
  color: #ffffff;
}
.left_align {
  text-align: left;
}
.center_align {
  text-align: center;
}
.vertical_center {
  margin-top: 25vh;
}
.sign_in_block {
  position: relative;
  margin-left: 35vw;
  margin-right: 35vw;
  padding: 20px 20px 20px 20px;
  width: 30vw;
  height: 25vw;
  border: 2px solid #ffffff;
  border-radius: 3px;
}
.sign_in_block input {
  border-width: 1px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #181818
}
form input {
  width: auto;
  right: 20px;
}
span {
  font-size: 80%;
}
ul {
  list-style-type: none;
}
hr {
  border-color: #282828;
  border-width: 0.3vh;
  margin-top: 0vh;
  margin-right: 3vw;
}
a {
  outline:none
}
a:link, a:visited {
  text-decoration: none;
  color: #979797;
}
a:hover, a:active, #current {
  text-decoration: none;
  color: #c2c2c2;
}
.underline_on_hover:hover {
  text-decoration: underline;
}
.invisible {
  opacity: 0;
}

#spotify_buttons {
  margin-top: 30px;
}
#spotify_buttons > a {
  background-color: #181818;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  margin-right: 10px;
}
#spotify_buttons > a:hover {
  color: gray;
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{ /* TRACK */
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0,0.3);
}
::-webkit-scrollbar-thumb{ /* Cursor */
  background: rgba(24,24,24,1);
}