#info_user {
  margin-left: 1vw;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}
.hiddenFileInputContainer {
  position: relative;
  text-align: center;
  height: 20vh;
}
.hiddenFileInputContainer > img {
  height: inherit;
  border: 1px solid white;
  border-radius: 50%;
}
input[type='file'].hidden {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 50px;
  opacity: 0;
  -moz-opacity: 0;
  filter: Alpha(Opacity=0);
}
#info_username {
  font-size: 300%;
  color: #FFFFFF;
  font-weight: 700;
}
#info_email {
  font-size: 200%;
  color: #FFFFFF;
  font-weight: 700;
}
#info_about {
  display: inline-block;
  width: 30vw;
  padding-left: 10vw;
}
#info_about_header {
  display: inline-block;
  font-size: 300%;
  color: #FFFFFF;
  font-weight: 700;
}
#info_about_text {
  display: inline-block;
  font-size: 120%;
  width: 30vw;
}
#info_delete_button {
  font-weight: 800 !important;
  color: #c42121 !important;
}