<!DOCTYPE html>
<html ng-app="web_spotify">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<title>Web Spotify CSE308</title>
		<script>document.write('<base href="' + document.location + '" />');</script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

		<!-- CSS -->
		<link href="css/home.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />

		<!-- Angular -->
		<script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="scripts/resizer.js"></script>
		<script src="scripts/app.js"></script>
	</head>

	<body ng-app="container" ng-controller="MainCtrl">

		<div ng-include="'templates/sidebar.html'"></div>
		<div ng-include="'templates/searchbar.html'"></div>

		<div id="main">
			<a href="#"><img class="advertisement" src="images/ad.png" alt="Sponsored Advertiesment"></a>
		
			<ul class="navbar">
				<li id="active"><a href="overview.html" id="current">Overview</a></li>
				<li><a href="charts.html">Charts</a></li>
				<li><a href="genres_moods.html">Genres & Moods</a></li>
				<li><a href="new_releases.html">New Releases</a></li>
				<li><a href="discover.html">Discover</a></li>
				<li><a href="concerts.html">Concerts</a></li>
			</ul>
			
			<ul id="content">
				<ul class="content_header">
					<li>
						<p id="content_title">Focus</p>
					</li>

					<li class="nav_tiles">
						<a href="#" class="prev_tiles">
						</a>

						<a href="#" class="next_tiles">
						</a>
					</li>
				</ul>

				<hr>

				<ul class="list_tiles">
					<li ng-repeat="item in focus">
						<div class="tile">
						<a href="#">
							<img class="tile_img" src="{{item.img}}" alt="Suggestion">
						</a>

							<p class="tile_text">{{item.head}}</p>
							<p class="tile_desc" class="left_align">{{item.desc}}</p>
						</div>
					</li>
				</ul>

				<hr>

				<ul class="three_tiles">
					<li class="center_align" ng-repeat="chart in charts">
						<div class="three_tile">
						<a href="#">
							<img class="three_tile_img" src="{{chart.img}}">
						</a>
							<p class="tile_desc">{{chart.desc}}</p>
						</div>
					</li>
				</ul>

				<hr>

				<ul class="list_tiles">
					<li ng-repeat="n in [1,2,3,4,5,6,7,8]">
						<div class="tile">
							<a href="#">
								<img class="tile_img" src="images/genre_1.png">
							</a>
						</div>
					</li>
				</ul>
			</ul>
		</div>

	    <div ng-include src="'templates/friend.html'"></div>
		<div ng-include src="'templates/playbar.html'"></div>

	</body>
</html> 
