<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign in to Spotify</title>
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/signup.css" rel="stylesheet" />


    <!-- Angular -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>
    <div class="center_align vertical_center sign_in_block" ng-controller="SignInController">
        <img class="logo" src="images/logo.jpg"/>
        <h2>Sign in to Spotify</h2>
		<hr>
		<form novalidate class="simple-form left_align">
				<label>Name: <input type="text" ng-model="user.name" /></label><br /><br/>
                <label>E-mail: <input type="email" ng-model="user.email" /></label><br /><br/>
                <label>Date of birth: <input type="date" ng-model="user.birthdate" /></label><br /><br/>
                <label>Password: <input type="text" ng-model="user.password" /></label><br /><br/>
            </form>
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="createAccount()" value="Create an account" /> <br/>
            <a href="/">Already have an account? Log in</a>
	</div>

</body>
</html>