<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign in to Spotify</title>
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/signup.css" rel="stylesheet"/>
    <!-- Angular -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" data-semver="2.0.3" data-require="jquery"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- JS -->
    <script src="scripts/signup.js"></script>
    <script src="scripts/helper.js"></script>
</head>
<body ng-app="signup_module" ng-controller="SignupCtrl">
	<div  class="canvas" >
		<img class="logo" src="images/logo.png"/>
		<hr>
		<div class="center_align">
			<form novalidate class="center_align">
				<input class="text_input_field" type="text" ng-model="name"
							 placeholder="Name"/><br/><br/>
				<input class="text_input_field" type="text" ng-model="email"
							 placeholder="Email address"/><br/><br/>
				<input class="text_input_field" type="date" ng-model="birthdate"
							 placeholder="MM/DD/YYYY"/><br/><br/>
				<input class="text_input_field" type="password" ng-model="password"
							 placeholder="Password"/><br/><br/>
				<input class="text_input_field" type="password" ng-model="password2"
							 placeholder="Confirm password"/><br/><br/>
				<input type="submit" ng-click="createAccount()" value="Create account"/><br/><br/>
			</form>
			<span>Already have an account? <a href="/">Log in</a></span>
		</div>
	</div>

</body>
</html>